@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --primary-color: #ea377c;
}
body {
  font-family: "Open Sans", sans-serif;
}

.font30 {
  font-size: 30px;
}
.site_name .navbar-brand,
.theme-color {
  color: var(--primary-color) !important;
}
.site_name {
  text-decoration: none;
  font-weight: 700;
}
.CarouselCaption-container {
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  height: 60vh;
  width: 100%;
  top: 0;
}

.carousel-img {
  height: 60vh;
  object-fit: cover;
}

.cart-badge {
  position: absolute;
  margin: -5px 0 0 -5px;
}

.productImg {
  max-width: 200px;
  margin: 20px auto 10px;
  height: 250px;
}

.product-card {
  min-height: 490px;
  margin: 10px auto;
}

.product-price {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 0;
  display: flex;
  align-items: center;
}

.prodDetails_image {
  max-width: 400px;
  height: 500px;
  padding: 30px;
  border-right: 2px solid rgba(0, 0, 0, 0.125);
  border-radius: 0px;
}

.cart-img {
  width: 45px;
  height: auto;
  display: flex;
  margin: 0 auto 0;
}

.cart-row {
  height: 85px;
}

.cart-row td:nth-child(2) {
  width: 175px;
  text-align: left;
}

.cart-row td {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.cart-table tr th {
  text-align: center;
}
.cart-table tr th:nth-child(1),
.cart-table tr th:nth-child(2) {
  text-align: left;
}

.main-card {
  width: 75%;
}

@media (max-width: 992px) {
  .card-detail-product {
    flex-flow: column;
  }
  .prodDetails_image {
    max-width: 330px;
    height: 375px;
    border-right: none;
    margin: 0 auto;
  }
}

@media (max-width: 575px) {
  .navbar {
    padding-right: 20px !important;
    padding-left: 5px;
  }
  .main-card {
    width: 98%;
  }
  .cart-table tr th {
    min-width: 100px;
  }
  .prodDetails_image {
    max-height: 350px;
  }
}
